/* PHASE 0: Sidebar */
.profile-picture>a {
    display: block;
}

.profile-picture>a>img {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: -120px;
    position: relative;
}

.profile-info>h1 {
    font-size: 25px;
    font-weight: 900;
    margin: 25px 0px;
}

.profile-info>p {
    margin: 20px 0px;
}

.profile-nav>ul>li {
    font-weight: 900;
    padding: 8px 0px;
}

.profile-nav>ul>li:nth-child(n) {
    border-top: 1px solid lightgray;
}

.profile-nav>ul>li:last-child {
    border-bottom: 1px solid lightgray;
}